Repository rolling-scopes-school/tasks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Luffi2539, @natein, @valerydluski, @sergeyshalyapin, @AlreadyBored, @ragingyngvarr, @Pulya10c, @pavelrazuvalau

.github/CODEOWNERS:

/stage0/ @Luffi2539 @natein
/stage1/ @valerydluski @sergeyshalyapin @natein
/stage2/ @valerydluski @natein
/node/ @AlreadyBored
/react/ @ragingyngvarr
/angular/ @Pulya10c @pavelrazuvalau

Исправил опечатку.
  tasks/js30#/js30-api-hints.md
Owners: none

feat: translate module git, update module sources (#1182)
  stage1/modules/git/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: CSS Preprocessors. Sass module (#1183)
  stage1/README.md
  stage1/modules/sass/README.md
  stage1/modules/sass/en/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

edited NgRx section for angular project
  angular/modules/redux/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

added link to RxJS module
  angular/modules/rxjs/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

feat: update Introduction to the profession of "JS/Front-end developer"
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: missprint
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: add Deep Understanding of JavaScript section
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

chore: remove old text
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: review
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: change links
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update README.md
  stage1/modules/media-queries/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Feat/CSS Grid layout module update (#1186)
  stage1/modules/css-grid/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: update Introduction to the profession of "JS/Front-end developer" (#1193)
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: update week 1
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: update week 1 (#1207)
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update js30-5.md
  tasks/js30#/js30-5.md
Owners: none

init: create cv-github-hints translation
  tasks/cv/en/cv-github-hints.md
Owners: none

init: add cv-hints translation
  tasks/cv/en/cv-hints.md
Owners: none

init: add cv.md translation
  tasks/cv/en/cv.md
Owners: none

refactor: change links to english ones
  tasks/cv/en/html-css-git.md
Owners: none

refactor: update links on git-markdown file
  tasks/cv/en/git-markdown.md
Owners: none

init: create git.md translation
  tasks/cv/en/git.md
Owners: none

refactor: add missing translation
  tasks/cv/en/git.md
Owners: none

refactor: fixing the anchor links
  tasks/cv/en/git.md
Owners: none

init: add cv-stage0.md translation
  tasks/cv/en/cv-stage0.md
Owners: none

init: add cv-stage1.md translation
  tasks/cv/en/cv-stage1.md
Owners: none

docs: added one more video
  angular/modules/components/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

docs: minor text adjustments
  tasks/angular/components-directives-pipes.md
Owners: none

docs: updated self-study materials for Forms module
  angular/modules/forms/README-ENG.md
  angular/modules/forms/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

docs: updated assignment for Forms module
  tasks/angular/forms.md
Owners: none

edited NgRx module
  angular/modules/redux/README-ENG.md
  angular/modules/redux/README-RU.md
  tasks/angular/NgRX.md
Owners: @Pulya10c, @pavelrazuvalau

fix: link for cross-check form
  tasks/js30#/js30-2.md
Owners: none

Update README.md
  stage1/modules/media-queries/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update README.md (#1213)
  stage1/modules/media-queries/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

update angular coding task modules and services
  tasks/angular/modules-services-routing.md
Owners: none

Update module directives and pipes
  angular/modules/directives-and-pipes/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

Update module directives and pipes
  angular/modules/directives-and-pipes/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

Update module directives and pipes
  angular/modules/directives-and-pipes/README-ENG.md
  angular/modules/directives-and-pipes/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

Updated the final module
  react/modules/graphiql.md
Owners: @ragingyngvarr
