Repository rolling-scopes-school/tasks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Luffi2539, @natein, @valerydluski, @sergeyshalyapin, @AlreadyBored, @ragingyngvarr, @Pulya10c, @pavelrazuvalau

Update README.md
  stage1/modules/events/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

add translations to Scope and Functions
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Feat: JS Evolution module update (#1190)
  stage1/modules/js-evolution/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Resolved comments on pr
  react/README.md
  react/modules/graphiql.md
Owners: @ragingyngvarr

A small additional change
  react/modules/graphiql.md
Owners: @ragingyngvarr

Resolved comments. 03
  react/modules/graphiql.md
Owners: @ragingyngvarr

fix: Update js30-5.md
  tasks/js30#/js30-5.md
Owners: none

Update stage1/modules/functions/README.md
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update stage1/modules/functions/README.md
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update stage1/modules/functions/README.md
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: fix an error in the request parameters paragraph
  tasks/js30#/js30-api-hints.md
Owners: none

Add translations to Scope and Functions (#1220)
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update js30-5.md
  tasks/js30#/js30-5.md
Owners: none

migrate from pure SSR to Next
  react/modules/module06/README.md
Owners: @ragingyngvarr

Fix syntax. Add RTK + ssr sources
  react/modules/module06/README.md
Owners: @ragingyngvarr

docs: add coffee-shop main description
  tasks/coffee-shop/coffee-shop.md
Owners: none

Add submodules Variables, Basic operators, Data types, Type conversion, Comments
  stage1/modules/js-basics/basic-operators.md
  stage1/modules/js-basics/comments.md
  stage1/modules/js-basics/data-types.md
  stage1/modules/js-basics/type-conversion.md
  stage1/modules/js-basics/variables.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Add submodules Conditional and logical operators, Loops, Functions
  stage1/modules/js-basics/functions.md
  stage1/modules/js-basics/logical-operators.md
  stage1/modules/js-basics/loops.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Translate to English, split to submodules
  stage1/modules/js-basics/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Moved NextJS task to module 5 to avoid conflicts
  react/modules/module05/README.md
Owners: @ragingyngvarr

tmp2
  react/modules/module06/README.md
Owners: @ragingyngvarr

tmp
  react/modules/module06/README_.md
Owners: @ragingyngvarr

Created 6th module for forms. Updated 1st module (ErrBoundary included)
  react/modules/module01/README.md
  react/modules/module06/README.md
Owners: @ragingyngvarr

Update js30-9.md
  tasks/js30#/js30-9.md
Owners: none

Update README.md
  stage0/README.md
Owners: @Luffi2539, @natein

Update README.md
  stage0/README.md
Owners: @Luffi2539, @natein

Update js30-9.md
  tasks/js30#/js30-9.md
Owners: none

Update module directives and pipes coding
  tasks/angular/components-directives-pipes.md
Owners: none

removed item of additional materials
  angular/modules/rxjs/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

reverted changes for non-rxjs files
  angular/README-ENG.md
  angular/README-RU.md
  angular/modules/redux/README-ENG.md
  angular/modules/redux/README-RU.md
  tasks/angular/NgRX.md
Owners: @Pulya10c, @pavelrazuvalau

docs: draft coffee-shop-week1 task
  tasks/coffee-shop/coffee-shop-week1.md
  tasks/coffee-shop/coffee-shop.md
Owners: none

docs: Update the Intro to Angular coding part.
  tasks/angular/intro.md
Owners: none

docs: Update the Intro to Angular self-study module.
  angular/modules/intro/README-ENG.md
  angular/modules/intro/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

fix: deleted Ru links
  angular/modules/http/README-ENG.md
  angular/modules/intro/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

Update module modules and services
  angular/modules/modules-and-services/README-ENG.md
Owners: @Pulya10c, @pavelrazuvalau

Update module modules and services
  angular/modules/directives-and-pipes/README-RU.md
  angular/modules/modules-and-services/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

Update module modules and services
  angular/modules/modules-and-services/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

docs: fixed typos
  angular/modules/forms/README-ENG.md
  angular/modules/forms/README-RU.md
  tasks/angular/forms.md
Owners: @Pulya10c, @pavelrazuvalau

Update coding task for module Modules, Services, Routing
  tasks/angular/modules-services-routing.md
Owners: none

docs: updated dates and words
  angular/README-ENG.md
  tasks/angular/NgRX.md
  tasks/angular/forms.md
  tasks/angular/intro.md
  tasks/angular/modules-services-routing.md
  tasks/angular/rxjs-observables-http.md
Owners: @Pulya10c, @pavelrazuvalau

.github/CODEOWNERS:

/stage0/ @Luffi2539 @natein
/stage1/ @valerydluski @sergeyshalyapin @natein
/stage2/ @valerydluski @natein
/node/ @AlreadyBored
/react/ @ragingyngvarr
/angular/ @Pulya10c @pavelrazuvalau
