Repository rolling-scopes-school/tasks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Luffi2539, @natein, @valerydluski, @sergeyshalyapin, @AlreadyBored, @ragingyngvarr, @Pulya10c, @pavelrazuvalau

docs: update recommended Eslint configuration
  react/modules/module01/configs.md
Owners: @ragingyngvarr

update react penalties
  react/modules/module02/README.md
  react/modules/module03/README.md
  react/modules/module04/README.md
  react/modules/module05/README.md
  react/modules/module06/README.md
Owners: @ragingyngvarr

docs: add third part and fix second part
  tasks/coffee-house/coffee-house-week2.md
  tasks/coffee-house/coffee-house-week3.md
Owners: none

docs: add json and figma link to coffee house task
  tasks/coffee-house/coffee-house-week1.md
  tasks/coffee-house/coffee-house-week2.md
  tasks/coffee-house/coffee-house-week3.md
  tasks/coffee-house/coffee-house.md
  tasks/coffee-house/products.json
Owners: none

docs: update react-components config
  react/modules/module01/configs.md
Owners: @ragingyngvarr

feat: add new course to material, fix webinar link label
  stage1/modules/html-form/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

docs(Angular mentoring): fix issues mentor dashboard
  angular/mentoring/pull-request-review-process.md
Owners: @Pulya10c, @pavelrazuvalau

Update react module 1 penalties
  react/modules/module01/README.md
Owners: @ragingyngvarr

Update react module 1 penalties (#1255)
  react/modules/module01/README.md
Owners: @ragingyngvarr

feat: update additional materials
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: update theory
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: add Angular technical interview process
  angular/modules/interview/README.md
Owners: @Pulya10c, @pavelrazuvalau

feat (JS/FE-2023Q4): Translate HTML Forms module (#1251)
  stage1/modules/html-form/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

JavaScript. Scope and functions" Module update (#1257)
  stage1/modules/functions/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

2023q4: CSS positioning module translation (#1239)
  stage1/modules/css-positioning/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: exception of Error Boundary components, as error boundaries in React still need to be class components.
  react/modules/module02/README.md
Owners: @ragingyngvarr

feat: update schedule stage1
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

docs: mystakes correction
  tasks/coffee-house/coffee-house-week3.md
Owners: none

docs: add clarifications
  tasks/coffee-house/coffee-house-week2.md
  tasks/coffee-house/coffee-house-week3.md
Owners: none

docs: update schedule
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: add question for angular interview
  angular/modules/interview/questions.md
Owners: @Pulya10c, @pavelrazuvalau

feat: translate existing version of the module
  stage1/modules/git-recap/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: update module completion time, remove estimated time from additional materials to make the module content uniform
  stage1/modules/git-recap/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: add new educational materials
  stage1/modules/git-recap/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

docs: links to readme
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update react module 2
  react/modules/module02/README.md
Owners: @ragingyngvarr

feat: update schedule stage1 (#1261)
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: remove eslint-plugin-prettier correctly
  react/modules/module01/configs.md
Owners: @ragingyngvarr

feat (JS/FE-2023Q4): Update and Translate Module "git-recap" (#1264)
  stage1/modules/git-recap/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: update schedule 1 week
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

update module 4, 5 penalties
  react/modules/module04/README.md
  react/modules/module05/README.md
Owners: @ragingyngvarr

Translate, Split, Add Materials 'Основы JavaScript. Типы данных' Module (#1226)
  stage1/modules/js-basics/README.md
  stage1/modules/js-basics/basic-operators.md
  stage1/modules/js-basics/comments.md
  stage1/modules/js-basics/data-types.md
  stage1/modules/js-basics/functions.md
  stage1/modules/js-basics/logical-operators.md
  stage1/modules/js-basics/loops.md
  stage1/modules/js-basics/type-conversion.md
  stage1/modules/js-basics/variables.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Updated the penalties
  react/modules/module02/README.md
  react/modules/module03/README.md
  react/modules/module04/README.md
  react/modules/module05/README.md
  react/modules/module06/README.md
Owners: @ragingyngvarr

feat: add webinar link
  stage1/modules/js-fe-developer/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

docs: added task for Unit testing in Angular app with Jest.
  angular/README.md
  angular/modules/unit-test/README-ENG.md
  angular/modules/unit-test/README-RU.md
  tasks/angular/unit-testing-jest.md
Owners: @Pulya10c, @pavelrazuvalau

fix: add link to Angular interview questions
  angular/modules/interview/README.md
Owners: @Pulya10c, @pavelrazuvalau

feat: update test name
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: update week-2
  stage1/README.md
  stage1/modules/js-basics/README.md
  stage1/modules/js-basics/basic-operators.md
  stage1/modules/js-basics/comments.md
  stage1/modules/js-basics/data-types.md
  stage1/modules/js-basics/functions.md
  stage1/modules/js-basics/logical-operators.md
  stage1/modules/js-basics/loops.md
  stage1/modules/js-basics/type-conversion.md
  stage1/modules/js-basics/variables.md
  stage1/modules/js-evolution/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

update module 4, 5 penalties (#1269)
  react/modules/module04/README.md
  react/modules/module05/README.md
Owners: @ragingyngvarr

feat: add break week
  stage1/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

.github/CODEOWNERS:

/stage0/ @Luffi2539 @natein
/stage1/ @valerydluski @sergeyshalyapin @natein
/stage2/ @valerydluski @natein
/node/ @AlreadyBored
/react/ @ragingyngvarr
/angular/ @Pulya10c @pavelrazuvalau
