Repository rolling-scopes-school/tasks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Luffi2539, @natein, @valerydluski, @sergeyshalyapin, @AlreadyBored, @ragingyngvarr, @Pulya10c, @pavelrazuvalau

.github/CODEOWNERS:

/stage0/ @Luffi2539 @natein
/stage1/ @valerydluski @sergeyshalyapin @natein
/stage2/ @valerydluski @natein
/node/ @AlreadyBored
/react/ @ragingyngvarr
/angular/ @Pulya10c @pavelrazuvalau

Replace Mentor to Trainer
  angular/modules/components/README-ENG.md
  angular/modules/components/README-RU.md
  angular/modules/directives-and-pipes/README-ENG.md
  angular/modules/directives-and-pipes/README-RU.md
  angular/modules/forms/README-ENG.md
  angular/modules/forms/README-RU.md
  angular/modules/http/README-ENG.md
  angular/modules/http/README-RU.md
  angular/modules/intro/README-ENG.md
  angular/modules/intro/README-RU.md
  angular/modules/modules-and-services/README-ENG.md
  angular/modules/modules-and-services/README-RU.md
  angular/modules/redux/README-ENG.md
  angular/modules/redux/README-RU.md
  angular/modules/routing/README-ENG.md
  angular/modules/routing/README-RU.md
  angular/modules/rxjs/README-ENG.md
  angular/modules/rxjs/README-RU.md
  angular/modules/unit-test/README-ENG.md
  angular/modules/unit-test/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

added a useful link for the to accomplish the lazy-loading module task
  tasks/angular/modules-services-routing.md
Owners: none

docs: updated the Fines in tasks.
  tasks/angular/NgRX.md
  tasks/angular/components-directives-pipes.md
  tasks/angular/forms.md
  tasks/angular/intro.md
  tasks/angular/modules-services-routing.md
  tasks/angular/rxjs-observables-http.md
Owners: none

docs(angular): mentors wanted
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs: updated the README for the Angular course and Fines for tasks.
  angular/README-ENG.md
  angular/README-RU.md
  tasks/angular/NgRX.md
  tasks/angular/components-directives-pipes.md
  tasks/angular/forms.md
  tasks/angular/intro.md
  tasks/angular/modules-services-routing.md
  tasks/angular/rxjs-observables-http.md
Owners: @Pulya10c, @pavelrazuvalau

docs(Angular): add mentor registration process
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs(Angular):add info about getting mentees
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs(Angular): mentoring process description
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs(Angular): create pull-request-review-process
  angular/mentoring/pull-request-review-process.md
Owners: @Pulya10c, @pavelrazuvalau

docs(Angular): add table of content for mentoring process
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs(Angular): clearer headline for Getting mentees
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs: update self-study materials for unit-test module
  angular/modules/unit-test/README-ENG.md
  angular/modules/unit-test/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

doc(angular): fix links
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs: deleted README-RU.md.
  angular/README-RU.md
  angular/README.md
  angular/modules/components/README-ENG.md
  angular/modules/components/README-RU.md
  angular/modules/directives-and-pipes/README-ENG.md
  angular/modules/directives-and-pipes/README-RU.md
  angular/modules/forms/README-ENG.md
  angular/modules/forms/README-RU.md
  angular/modules/http/README-ENG.md
  angular/modules/http/README-RU.md
  angular/modules/intro/README-ENG.md
  angular/modules/modules-and-services/README-ENG.md
  angular/modules/redux/README-ENG.md
  angular/modules/redux/README-RU.md
  angular/modules/routing/README-ENG.md
  angular/modules/routing/README-RU.md
  angular/modules/rxjs/README-ENG.md
  angular/modules/rxjs/README-RU.md
  angular/modules/unit-test/README-ENG.md
  angular/modules/unit-test/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

updated examples from the lectures where canLoad and canActive were changed with canMatchFn and canActiveFn
  angular/modules/routing/README-ENG.md
  angular/modules/routing/README-RU.md
Owners: @Pulya10c, @pavelrazuvalau

docs: updated link in README.md.
  angular/README.md
  angular/mentoring/README.md
Owners: @Pulya10c, @pavelrazuvalau

1129: add css positioning module translation
  stage1/modules/css-positioning/README-en.md
Owners: @valerydluski, @sergeyshalyapin, @natein

1129: update additional materials for css positioning module
  stage1/modules/css-positioning/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

docs: fixing mistakes and adding requirements for first part
  tasks/coffee-house/coffee-house-week1.md
  tasks/coffee-house/coffee-house.md
Owners: none

Updated mr in accordance to the comments
  react/modules/module05/README.md
Owners: @ragingyngvarr

docs: updated README.md.
  angular/README.md
Owners: @Pulya10c, @pavelrazuvalau

docs: updated Certificate part and test in README.md.
  angular/README.md
Owners: @Pulya10c, @pavelrazuvalau

init: create git markdown file
  stage1/modules/css-new-features/en/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

fix: module name and links
  stage1/modules/css-modules-and-new-features/en/README.md
  stage1/modules/css-new-features/en/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

Update react module 3
  react/modules/module03/README.md
Owners: @ragingyngvarr

Update react module 3 (#1243)
  react/modules/module03/README.md
Owners: @ragingyngvarr

fix: fix typo in angular site name and put line breaks for links to be in list
  tasks/angular/intro.md
Owners: none

feat: new CSS module Some New Features (#1242)
  stage1/modules/css-modules-and-new-features/en/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: add cv translations (#1209)
  tasks/cv/en/cv-github-hints.md
  tasks/cv/en/cv-hints.md
  tasks/cv/en/cv-stage0.md
  tasks/cv/en/cv-stage1.md
  tasks/cv/en/cv.md
  tasks/cv/en/git-markdown.md
  tasks/cv/en/git.md
  tasks/cv/en/html-css-git.md
Owners: none

docs: fix coffee-house-week-1
  tasks/coffee-house/coffee-house-week1.md
Owners: none

1129: replace russian readme with english one
  stage1/modules/css-positioning/README-en.md
  stage1/modules/css-positioning/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

docs: replace the item about run test to run prettier
  react/modules/module01/README.md
Owners: @ragingyngvarr

docs: replace the item about run test to run prettier
  react/modules/module01/README.md
Owners: @ragingyngvarr

docs: add coffee-house-week2 and fix week1
  tasks/coffee-house/coffee-house-week1.md
  tasks/coffee-house/coffee-house-week2.md
Owners: none

docs: update evaluation criteria in ng intro
  tasks/angular/intro.md
Owners: none

docs: update react-components readme
  react/modules/module01/README.md
Owners: @ragingyngvarr

docs: delete outdated prettier plugin
  react/modules/module01/configs.md
Owners: @ragingyngvarr

docs: update printWidth in configs.md
  react/modules/module01/configs.md
Owners: @ragingyngvarr

feat: translate module
  stage1/modules/html-form/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein

feat: review module materials
  stage1/modules/html-form/README.md
Owners: @valerydluski, @sergeyshalyapin, @natein
