Repository rolling-scopes-school/tasks, pull requests merged in 2023-12, with the labels that each got.

#1377 edited general fines for tasks/connections project
  tasks/connections/README.md
  tasks/connections/milestone_1.registration.md
  tasks/connections/milestone_2.login.md
  tasks/connections/milestone_3.profile.md
  tasks/connections/milestone_4.profile_update.md
  tasks/connections/milestone_5.logout.md
  tasks/connections/milestone_6.people_groups.md
  tasks/connections/milestone_7.group_dialog.md
  tasks/connections/milestone_8.conversation.md
Labels: angular

#1384 feat: update week-7
  azure/modules/MACH_Introduction/readme.md
  stage1/README.md
Labels: stage#1

#1387 Edited Angular Connections project description text to make it clear
  tasks/connections/README.md
  tasks/connections/milestone_3.profile.md
  tasks/connections/milestone_4.profile_update.md
  tasks/connections/milestone_7.group_dialog.md
  tasks/connections/milestone_8.conversation.md
Labels: angular

#1388 React GraphQL task - only forbid 3rd party prettifying solutions
  react/modules/graphiql.md
Labels: react

#1303 feat: [week-8] translate module to English, update materials
  stage1/modules/modules-in-js/README.md
Labels: stage#1

#1389 Feat/update schedule
  stage1/README.md
  stage1/modules/classes-prototypes/README.md
  stage1/modules/oop-basics/README.md
  stage1/modules/oop-basics/images/microvawe-oven-inside.JPG
  stage1/modules/oop-basics/images/microvawe-oven-interface.JPG
  stage2/README.md
Labels: stage#1, stage#2

#1397 feat: add fix-typo
  tasks/library/library-part1.md
Labels: stage#0

#1338 feat: [Week-9] Translation and Update of NodeJS Module
  stage1/modules/node-materials/README.md
  stage1/modules/node-materials/node/events.md
  stage1/modules/node-materials/node/images/stream-schema.png
  stage1/modules/node-materials/node/module/create-module.md
  stage1/modules/node-materials/node/module/fs.md
  stage1/modules/node-materials/node/module/http.md
  stage1/modules/node-materials/node/module/npm-module.md
  stage1/modules/node-materials/node/module/os.md
  stage1/modules/node-materials/node/module/path.md
  stage1/modules/node-materials/node/node-argv.md
  stage1/modules/node-materials/node/node-fs-access.md
  stage1/modules/node-materials/node/node-introduction.md
  stage1/modules/node-materials/node/node-io.md
  stage1/modules/node-materials/node/node-module.md
  stage1/modules/node-materials/node/node-stdio.md
  stage1/modules/node-materials/node/projects/github-app.md
  stage1/modules/node-materials/node/projects/notes.md
  stage1/modules/node-materials/node/projects/projects.md
  stage1/modules/node-materials/node/projects/timer.md
  stage1/modules/node-materials/node/stream-pipes.md
  stage1/modules/node-materials/node/stream-readable.md
  stage1/modules/node-materials/node/stream-writable.md
  stage1/modules/node-materials/node/stream.md
Labels: stage#1

#1330 React: Add penalties for not following PR requirements
  react/modules/graphiql.md
  react/modules/module01/README.md
  react/modules/module02/README.md
  react/modules/module03/README.md
  react/modules/module04/README.md
  react/modules/module05/README.md
Labels: react

#1402 feat: update week-8
  stage1/README.md
  stage1/modules/chrome-devtools/README.md
  stage1/tasks/hangman/README.md
Labels: stage#1

#1404 feat: add README for Node.js module
  stage1/modules/node-materials/README.md
  stage1/modules/node-materials/node/README.md
Labels: stage#1

#1390 Next update set to tasks/connections/README.md
  tasks/connections/README.md
  tasks/connections/milestone_1.registration.md
  tasks/connections/milestone_10.theme.md
  tasks/connections/milestone_3.profile.md
  tasks/connections/milestone_6.people_groups.md
  tasks/connections/milestone_7.group_dialog.md
  tasks/connections/milestone_8.conversation.md
Labels: angular

#1406 Translate clean-code module
  .prettierignore
  stage1/modules/clean-code/README.md
  stage1/modules/clean-code/clean-code-s1e1.md
  stage1/modules/clean-code/materials/commits.md
  stage1/modules/clean-code/materials/generic-principles.md
  stage1/modules/clean-code/materials/html-and-css-extended.md
  stage1/modules/clean-code/materials/html-and-css.md
Labels: stage#1

#1412 feat: update week 9
  stage1/README.md
Labels: stage#1

#1352 feat: [Week-10] Translation and Update of Client-Server Interaction Module
  stage1/modules/client-server/README.md
Labels: stage#1

#1410 Next update set to tasks/connections angular
  tasks/connections/README.md
  tasks/connections/milestone_1.registration.md
  tasks/connections/milestone_2.login.md
  tasks/connections/milestone_4.profile_update.md
  tasks/connections/milestone_5.logout.md
  tasks/connections/milestone_6.people_groups.md
  tasks/connections/milestone_7.group_dialog.md
  tasks/connections/milestone_8.conversation.md
Labels: angular

#1415 edited tasks/connections project
  tasks/connections/README.md
  tasks/connections/milestone_6.people_groups.md
  tasks/connections/milestone_7.group_dialog.md
  tasks/connections/milestone_8.conversation.md
Labels: angular

#1385 fix: change minesweeper description
  tasks/minesweeper/README.md
Labels: stage#1

#1414 Translate HTML-Builder README
  stage1/modules/html-builder/README.md
  stage1/tasks/html-builder/README.md
Labels: stage#1

#1422 feat: add fix-typos, expand binary search info
  stage1/modules/data-structures-and-algorithms/algorithms.md
  stage1/modules/data-structures-and-algorithms/images/binary-search-work.gif
Labels: stage#1

#1421 feat: add bundlers module
  stage1/README.md
  stage1/modules/bundlers/README.md
  stage1/modules/bundlers/img/image.png
Labels: stage#1

#1416 feat: Add Hangman Game Task
  stage1/tasks/hangman/README.md
  stage1/tasks/hangman/hangman.png
Labels: stage#1

#1369 [2023Q4]: Week-12 Task: Translation of "Self-introduction" Task
  stage1/modules/self-introduction/README.md
Labels: stage#1

#1398 docs: change task description
  tasks/library/library-part1.md
Labels: stage#0

#1423 feat: [Week-2.1] Translation and Update of "TypeScript Basic" Module
  stage2/modules/typescript-basic/README.md
Labels: stage#2

#1433 feat: update weeks 10 & 11
  stage1/README.md
Labels: stage#1
