Repository rolling-scopes-school/tasks, pull requests merged in 2023-11, with the labels that each got.

#1262 (JS/FE-2023Q4): Coffee House task
  stage1/README.md
  tasks/coffee-house/coffee-house-week1.md
  tasks/coffee-house/coffee-house-week2.md
  tasks/coffee-house/coffee-house-week3.md
  tasks/coffee-house/coffee-house.md
  tasks/coffee-house/products.json
Labels: stage#1

#1259 docs: added task for Unit testing in Angular app with Jest.
  angular/README.md
  angular/modules/unit-test/README-ENG.md
  angular/modules/unit-test/README-RU.md
  tasks/angular/unit-testing-jest.md
Labels: angular

#1249 docs: update evaluation criteria in ng intro
  tasks/angular/intro.md
Labels: angular

#1292 [react] update cross-check duration
  react/modules/module01/README.md
  react/modules/module02/README.md
  react/modules/module03/README.md
  react/modules/module04/README.md
  react/modules/module05/README.md
  react/modules/module06/README.md
Labels: react

#1219 Dom events module translation
  stage1/modules/events/README.md
Labels: stage#1

#1304 refactor: translate dom-api to english and add new materials
  stage1/modules/dom-api/README.md
Labels: stage#1

#1306 feat: update week-5
  stage1/README.md
  stage1/modules/dom-api/README.md
  stage1/modules/html-form/README.md
Labels: stage#1

#1307 fix: module functions stage1
  stage1/modules/functions/README.md
Labels: stage#1

#1291 update react module 3
  react/modules/module03/README.md
Labels: react

#1312 feat: update week 2
  stage1/modules/functions/README.md
  stage1/modules/js-basics/README.md
Labels: stage#1

#1314 [react] Update PR requirements
  react/modules/module01/README.md
  react/modules/module02/README.md
  react/modules/module03/README.md
  react/modules/module04/README.md
  react/modules/module05/README.md
  react/modules/module06/README.md
Labels: react

#1322 fix: [module js-basics week-2] update materials
  stage1/modules/js-basics/variables.md
Labels: stage#1

#1335 feat: update git recap
  stage1/modules/git-recap/README.md
Labels: stage#1

#1333 [react] module 4 remove view mode mentions
  react/modules/module04/README.md
Labels: react

#1324 fix: [week-2] update the submission section in CV-1 and CV-2 tasks
  tasks/cv/en/git-markdown.md
  tasks/cv/en/html-css-git.md
Labels: stage#1

#1341 feat: update week-3 modules
  stage1/modules/css-grid/README.md
  stage1/modules/css-modules-and-new-features/README.md
  stage1/modules/css-modules-and-new-features/en/README.md
  stage1/modules/css-positioning/README.md
  stage1/modules/sass/README.md
  stage1/modules/sass/en/README.md
Labels: stage#1

#1339 [react] Final task - improve language & grammar. User-specified endpoint
  react/modules/graphiql.md
Labels: react

#1300 feat: [week-7] add 'Linters, Formatters, and Husky' module to Stage 1
  stage1/README.md
  stage1/modules/linters-formatters-husky/README.md
Labels: stage#1

#1343 fix: links to parts of task "Coffee House" in program
  stage1/README.md
Labels: stage#1

#1345 feat: update week-4
  stage1/modules/media-queries/README.md
  stage1/modules/responsive-web-design/README.md
Labels: stage#1

#1344 chore: create module template
  example/module_template.md
Labels: stage#1

#1355 docs: fix interactivity, exclude :active in coffee-house-week1.md
  tasks/coffee-house/coffee-house-week1.md
Labels: stage#1

#1323 feat: [week-6] update and translate data structures task description
  stage1/modules/data-structures/README.md
Labels: stage#1

#1357 feat: update week-5
  stage1/README.md
  stage1/modules/dom-api/README.md
  stage1/modules/events/README.md
  stage1/modules/html-form/README.md
  stage1/tasks/online-zoo-ru.md/README.md
  stage1/tasks/online-zoo-ru.md/online-zoo-folder-structure.jpg
  stage1/tasks/online-zoo-ru.md/online-zoo-ru.md
  stage1/tasks/shelter/README.md
  stage1/tasks/shelter/main-1280.jpg
  stage1/tasks/shelter/pets.json
  stage1/tasks/shelter/responsive.png
  stage1/tasks/shelter/shelter-folder-structure.jpg
  stage1/tasks/shelter/shelter-pets-1280px.jpg
  stage1/tasks/shelter/shelter-ru.md
Labels: stage#1

#1360 refactor: update actions
  .github/workflows/pull_request.yml
  stage1/modules/module_template/module_template.md
Labels: stage#1

#1362 Removed penalty for using state
  react/modules/module05/README.md
Labels: react

#1363 feat: add examples of how the carousel works on different devices
  tasks/coffee-house/carousel_desktop.gif
  tasks/coffee-house/carousel_mobile.gif
  tasks/coffee-house/coffee-house-week3.md
Labels: stage#1

#1372 feat: update week#7
  stage1/README.md
Labels: stage#1

#1301 Angular: Hot Cold observables links fix
  angular/modules/rxjs/README-ENG.md
Labels: angular

#1376 feat: split algorithms and data-structure materials
  stage1/README.md
  stage1/modules/data-structures-and-algorithms/README.md
  stage1/modules/data-structures-and-algorithms/algorithms.md
  stage1/modules/data-structures-and-algorithms/data-structures.md
  stage1/modules/data-structures-and-algorithms/images/algoritms-timer-demo.png
  stage1/modules/data-structures-and-algorithms/images/big-o.png
  stage1/modules/data-structures-and-algorithms/images/binary-search-tree.jpg
  stage1/modules/data-structures-and-algorithms/images/chaining.png
  stage1/modules/data-structures-and-algorithms/images/graph.jpeg
  stage1/modules/data-structures-and-algorithms/images/hash-table.jpeg
  stage1/modules/data-structures-and-algorithms/images/linear-probing.png
  stage1/modules/data-structures-and-algorithms/images/linked-list.jpeg
  stage1/modules/data-structures-and-algorithms/images/max-heap.jpeg
  stage1/modules/data-structures-and-algorithms/images/min-heap.jpeg
  stage1/modules/data-structures-and-algorithms/images/queue.jpeg
  stage1/modules/data-structures-and-algorithms/images/stack.jpeg
Labels: stage#1

#1374 edited mistake in tasks/connections/milestone_2.login.md
  tasks/connections/milestone_1.registration.md
  tasks/connections/milestone_2.login.md
  tasks/connections/milestone_3.profile.md
  tasks/connections/milestone_4.profile_update.md
  tasks/connections/milestone_5.logout.md
  tasks/connections/milestone_6.people_groups.md
  tasks/connections/milestone_7.group_dialog.md
  tasks/connections/milestone_8.conversation.md
Labels: angular
