Repository rolling-scopes-school/tasks, pull requests merged in 2024-09, with the labels that each got.

#1695 Angular: A-Train. Added error description for http-requests
  tasks/train-a/admin/ride.md
  tasks/train-a/admin/routes.md
  tasks/train-a/admin/stations.md
  tasks/train-a/readme.md
  tasks/train-a/search-detail.md
Labels: angular

#1684 [Stage 0]: fix binary tree description
  stage0/modules/data-structures-part-1/algorithms.md
  stage0/modules/data-structures-part-1/images/binary-search-tree.png
Labels: stage#0

#1697 Added presentation description for Angular: Train-A project
  tasks/train-a/presentation.md
  tasks/train-a/search-detail.md
Labels: angular

#1699 Fix: replace broken links
  README.md
  roadmap.md
Labels: stage#1, stage#0

#1700 refactor AWS DevOps tasks
  devops/modules/1_basic-configuration/README.md
  devops/modules/1_basic-configuration/task_1.md
  devops/modules/1_basic-configuration/task_2.md
  devops/modules/2_cluster-configuration/README.md
  devops/modules/2_cluster-configuration/task_3.md
  devops/modules/3_ci-configuration/README.md
  devops/modules/3_ci-configuration/task_4.md
  devops/modules/3_ci-configuration/task_5.md
  devops/modules/3_ci-configuration/task_6.md
  devops/modules/4_monitoring-configuration/README.md
  devops/modules/4_monitoring-configuration/task_7.md
  devops/modules/4_monitoring-configuration/task_8.md
  devops/modules/4_monitoring-configuration/task_9.md
Labels: type: task, devops

#1702 Made corrections to the final task
  devops/modules/1_basic-configuration/task_1.md
  devops/modules/1_basic-configuration/task_2.md
  devops/modules/2_cluster-configuration/task_3.md
  devops/modules/3_ci-configuration/task_4.md
  devops/modules/3_ci-configuration/task_5.md
  devops/modules/3_ci-configuration/task_6.md
  devops/modules/4_monitoring-configuration/task_7.md
  devops/modules/4_monitoring-configuration/task_8.md
  devops/modules/4_monitoring-configuration/task_9.md
  react/modules/tasks/final.md
Labels: react

#1696 2024Q4: Update shedule for 1 & 2 stages
  stage1/README.md
  stage2/README.md
Labels: stage#1, stage#2

#1672 Angular - Unit Testing materials links update
  angular/modules/unit-test/README-ENG.md
  angular/modules/unit-test/README-RU.md
Labels: angular

#1664 chore: Update task description for class components
  react/modules/tasks/class-components.md
Labels: react

#1675 Angular - links updates in tasks/modules plus note about design and standalone/modules architecture
  angular/modules/components/README-ENG.md
  angular/modules/directives-and-pipes/README-ENG.md
  angular/modules/forms/README-ENG.md
  angular/modules/http/README-ENG.md
  angular/modules/modules-and-services/README-ENG.md
  angular/modules/redux/README-ENG.md
  angular/modules/routing/README-ENG.md
  angular/modules/rxjs/README-ENG.md
  angular/modules/signals/README-ENG.md
  angular/modules/unit-test/README-ENG.md
  tasks/angular/components-directives-pipes.md
  tasks/angular/forms.md
  tasks/angular/intro.md
  tasks/angular/modules-services-routing.md
  tasks/angular/rxjs-observables-http.md
Labels: angular

#1703 The first task proposal for devops course
  devops/modules/1_basic-configuration/task_1.md
  devops/modules/1_basic-configuration/task_2.md
Labels: devops

#1704 Stage0 - fix: deadlines and links
  tasks/js30#/js30-2.md
  tasks/js30#/js30-5.md
  tasks/js30#/js30-9.md
  tasks/js30#/js30.md
Labels: stage#0

#1679 Fix: replace additional resource
  stage0/modules/js-functions/README.md
Labels: stage#0

#1701 [2024Q4]: Add a new "Canvas API" module
  stage1/modules/canvas-api/README.md
Labels: stage#1

#1707 refactor: update codeowners
  .github/CODEOWNERS
  README.md
Labels: enhancement, organizational-update

#1708 docs: update code owners
  .github/CODEOWNERS
  README.md
Labels: stage#0

#1709 Proposal for the second task of DevOps course
  devops/modules/1_basic-configuration/task_2.md
Labels: devops

#1711 [Node.js 2024 Q3] Update links
  node/modules/crud-api/README.md
  node/modules/nodejs-application/README.md
  node/modules/nodejs-basics/README.md
Labels: node
