Repository rolling-scopes-school/tasks, pull requests merged in 2024-12, with the labels that each got.

#1734 refactor: DevOps and AWS course task 8
  devops/modules/4_monitoring-configuration/task_8.md
Labels: devops

#1735 [2024Q4] feat: update clean code
  stage1/modules/clean-code/README.md
  stage1/modules/clean-code/clean-code-s1e1.md
  stage1/modules/clean-code/materials/commits.md
  stage1/modules/clean-code/materials/generic-principles.md
  stage1/modules/clean-code/materials/html-and-css-extended.md
  stage1/modules/clean-code/materials/html-and-css.md
Labels: stage#1

#1732 Feat/react2024q1 module01
  react/modules/tasks/class-components.md
Labels: react

#1738 Added a new module for the performance. Updated previous modules
  react/modules/forms/README.md
  react/modules/performance/README.md
  react/modules/tasks/class-components.md
  react/modules/tasks/forms.md
  react/modules/tasks/performance.md
  react/modules/tasks/project-setup.md
  react/modules/tasks/redux.md
  react/modules/tasks/routing.md
Labels: react

#1739 docs: add nav links to data-structures.md summary
  stage1/modules/data-structures-and-algorithms/data-structures.md
Labels: stage#1

#1741 Updated performance task. Added referencies to the new React api
  react/README.md
  react/modules/context-api/README.md
  react/modules/forms/README.md
  react/modules/performance/README.md
  react/modules/tasks/performance.md
Labels: react
