Repository rolling-scopes-school/tasks, pull requests merged in 2024-11, with the labels that each got.

#1722 Remove codewars link
  stage1/modules/js-basics/data-types.md
Labels: stage#1

#1721 [2024Q4] Update Stage#2 schedule
  stage2/README.md
Labels: stage#2

#1725 Update img-compressed file for Christmas Shop task
  tasks/christmas-shop/img-compressed.zip
Labels: stage#1

#1727 Update README.md (Broken link in description)
  stage1/modules/sass/README.md
Labels: stage#1

#1728 [2024Q4] Update christmas-shop task
  tasks/christmas-shop/christmas-shop-part3.md
Labels: stage#1

#1730 [2024Q4] Update Christmas Shop part 3
  tasks/christmas-shop/christmas-shop-part3.md
Labels: type: task, stage#1

#1731 refactor: DevOps and AWS course task 7
  devops/modules/4_monitoring-configuration/task_7.md
Labels: devops
