Repository rolling-scopes-school/tasks, pull requests merged in 2024-04, with the labels that each got.

#1588 feat: update module patterns
  stage2/modules/design-patterns/README.md
  stage2/modules/websockets/README.md
Labels: stage#2

#1600 feat: update schedule
  stage2/README.md
Labels: stage#2

#1601 Add new questions to Angular interview questions
  .prettierignore
  angular/modules/interview/questions.md
Labels: angular

#1603 fix: delete practice and rename readme.md to uppercase
  react/modules/class-component/README.md
  react/modules/error-boundary/README.md
  react/modules/hooks/README.md
  react/modules/react-evolution/README.md
  react/modules/react-setup-env/README.md
  react/modules/router/README.md
  react/modules/testing/README.md
Labels: react

#1594 [React Course]: Module 3.2 Update: Expand and Update Context API
  react/modules/context-api/README.md
Labels: react

#1604 feat: update presentation
  stage2/tasks/presentation/README.md
  stage2/tasks/presentation/presentation-topics.md
Labels: stage#2

#1556 NodeJS interview topics
  node/modules/interview/README.MD
Labels: node

#1606 feat: update week 11
  stage2/README.md
Labels: stage#2

#1612 feat: create module ci/cd
  stage2/README.md
  stage2/modules/ci-cd/README.md
Labels: stage#2

#1613 feat: update week 12
  stage2/README.md
Labels: stage#2

#1610 Feat/4 first tasks
  react/README.md
  react/modules/tasks/README.md
  react/modules/tasks/class-components.md
  react/modules/tasks/redux.md
  react/modules/tasks/routing.md
Labels: react

#1616 docs(angular): angular interview questions update
  angular/modules/interview/questions.md
Labels: angular

#1611 feat: [React Course]: Module React Forms
  react/modules/forms/README.md
Labels: react

#1624 feat: update module Rendering Flow
  stage2/modules/how-browsers-work/README.md
Labels: stage#2

#1626 feat: update week 14
  stage2/README.md
  stage2/modules/garbage-collection/README.md
Labels: stage#2
