Repository rolling-scopes-school/tasks, pull requests merged in 2024-03, with the labels that each got.

#1506 feat: [Week-2.6] Update, Translate, and Expand "HTTP/HTTPS and Web Security" Module
  stage1/modules/client-server/README.md
  stage2/README.md
  stage2/modules/http/README.md
  stage2/modules/web-security/README.md
Labels: stage#1, stage#2

#1536 feat: update week 5&6
  stage2/README.md
Labels: stage#2

#1537 fix: update puzzle penalty
  stage2/tasks/puzzle/MentorsCheckCriteria.md
Labels: stage#2

#1538 feat: update weeks 2.6 & 2.7 & 2.8
  stage2/README.md
  stage2/tasks/async-race/README.md
Labels: stage#2

#1539 feat: update criteria
  stage2/tasks/puzzle/README.md
  stage2/tasks/puzzle/stories/RSS-PZ-04.md
Labels: stage#2

#1534 feat: [Week-2.9] Update and Translate "JavaScript Error Handling" Module
  stage2/modules/error-handling/README.md
Labels: stage#2

#1542 add: add new react questions and nextJsQuestions.md
  react/nextJsQuestions.md
  react/questions.md
Labels: react

#1543 feat: update async-race
  react/questions.md
  stage2/tasks/async-race/README.md
  stage2/tasks/async-race/functional-requirements.md
  stage2/tasks/async-race/non-functional-requirements.md
Labels: react, stage#2

#1545 feat: translate REST module
  stage2/modules/restful-api/README.md
Labels: stage#2

#1549 fix: remove duplicate
  stage2/tasks/async-race/README.md
Labels: stage#2

#1411 feat: new module-system
  react/modules/class-component/README.MD
  react/modules/error-boundary/README.MD
  react/modules/react-setup-env/README.md
Labels: react

#1531 feat: add rss-testing description
  stage2/tasks/rss-testing/README.md
Labels: stage#2

#1564 feat: [Week-2.7] Translate and Update "Event Loop & Animation" Module
  stage2/modules/async/README.md
  stage2/modules/eventloop-animation/README.md
Labels: stage#2

#1585 feat: [Week-2.11] Update and Translate "Scrum" Module
  stage2/modules/scrum/README.md
  stage2/modules/scrum/images/scrum.jpg
Labels: stage#2

#1561 feat: create react router module
  react/modules/router/README.md
Labels: react

#1557 feat: create react hooks module
  react/modules/hooks/README.md
Labels: react

#1586 feat: create WebSockets module
  stage2/README.md
  stage2/modules/web-sockets/README.md
Labels: stage#2

#1590 feat: remove task testing
  stage2/README.md
  stage2/tasks/rss-testing/README.md
Labels: stage#2

#1593 Added new module for testing. Moved old modules to archive folder
  react/modules/_archive/module01/README.md
  react/modules/_archive/module01/configs.md
  react/modules/_archive/module02/README.md
  react/modules/_archive/module03/README.md
  react/modules/_archive/module04/README.md
  react/modules/_archive/module05/README.md
  react/modules/_archive/module06/README.md
  react/modules/testing/README.md
Labels: react

#1595 feat: [React Course]: ~~Revolution~~ Evolution #1555
  react/modules/react-evolution/readme.md
Labels: react

#1528 feat: translate module, add materials
  stage2/modules/testing/README.md
Labels: stage#2

#1597 feat: update schedule week-9
  stage2/README.md
Labels: stage#2
