Repository rolling-scopes-school/tasks, pull requests merged in 2024-08, with the labels that each got.

#1680 Updated the schedule
  react/README.md
Labels: react

#1677 Made updates to the final task. Clarified scores, included history se…
  react/modules/tasks/final.md
Labels: react

#1678 Angular - Remove one more line about tests implementation from fines in Signals
  tasks/angular/signals.md
Labels: angular

#1682 Shelter part3: update the conditions for closing the popup window and the burger menu
  tasks/shelter/shelter-part3.md
Labels: stage#0

#1683 Added Train-A project
  tasks/train-a/admin/carriages.md
  tasks/train-a/admin/readme.md
  tasks/train-a/admin/ride.md
  tasks/train-a/admin/routes.md
  tasks/train-a/admin/stations.md
  tasks/train-a/designs/header/guest.png
  tasks/train-a/designs/header/manager.png
  tasks/train-a/designs/header/user.png
  tasks/train-a/designs/profile/change-password.png
  tasks/train-a/designs/profile/manager.png
  tasks/train-a/designs/profile/user.png
  tasks/train-a/designs/rides/static.png
  tasks/train-a/designs/rides/update.png
  tasks/train-a/designs/routes/create.png
  tasks/train-a/designs/routes/list.png
  tasks/train-a/designs/search-details/carriage 1.hints.png
  tasks/train-a/designs/search-details/carriage 1.png
  tasks/train-a/designs/search-details/carriage 2.hints.png
  tasks/train-a/designs/search-details/carriage 2.png
  tasks/train-a/designs/search-details/carriage hints.png
  tasks/train-a/designs/search-details/modal bottom.png
  tasks/train-a/designs/search-details/modal top.png
  tasks/train-a/designs/search/filter.desktop.png
  tasks/train-a/designs/search/filter.mobile.png
  tasks/train-a/designs/search/noresults.png
  tasks/train-a/designs/search/result-list.desktop.png
  tasks/train-a/designs/search/result-list.mobile.png
  tasks/train-a/designs/search/result-route.png
  tasks/train-a/designs/search/search.calendar.png
  tasks/train-a/designs/search/search.desktop.png
  tasks/train-a/designs/search/search.mobile.png
  tasks/train-a/designs/search/search.point.png
  tasks/train-a/designs/search/search.tablet.png
  tasks/train-a/designs/signin.png
  tasks/train-a/designs/signup.png
  tasks/train-a/designs/stations/new_station.png
  tasks/train-a/header-fragment.md
  tasks/train-a/order.md
  tasks/train-a/profile.md
  tasks/train-a/readme.md
  tasks/train-a/search-detail.md
  tasks/train-a/search.md
  tasks/train-a/sign-in.md
  tasks/train-a/sign-up.md
Labels: type: task, angular

#1686 Angular - train-a - change maximum number in teams
  tasks/train-a/admin/readme.md
  tasks/train-a/readme.md
  tasks/train-a/sign-in.md
  tasks/train-a/sign-up.md
Labels: angular

#1685 spelling fixes
  devops/modules/basic-configuration/README.md
  devops/modules/ci-configuration/README.md
  devops/modules/cluster-configuration/README.md
  devops/modules/monitoring-configuration/README.md
Labels: type: module

#1688 added User Flow into Sign-In, Sign-Up pages
  tasks/train-a/admin/ride.md
  tasks/train-a/admin/routes.md
  tasks/train-a/order.md
  tasks/train-a/sign-in.md
  tasks/train-a/sign-up.md
Labels: type: task, angular

#1687 Added templates for the final task
  react/modules/tasks/final.md
Labels: react

#1691 Removed the adaptive layout requirement
  react/modules/tasks/final.md
Labels: react

#1690 Angular: Train-A. Edited links
  tasks/train-a/admin/carriages.md
  tasks/train-a/profile.md
  tasks/train-a/readme.md
  tasks/train-a/sign-in.md
Labels: type: task, angular

#1692 fix: add assets anf fix link logo
  react/assets/rss-logo.svg
  react/modules/tasks/final.md
Labels: react

#1693 Removed inconsistency in requirements
  react/modules/tasks/final.md
Labels: react
