Repository rolling-scopes-school/tasks, pull requests merged in 2024-01, with the labels that each got.

#1438 feat: Swap Modules "Chrome DevTools" and "Bundlers"
  stage1/README.md
Labels: stage#1

#1426 feat: add cloud fundamentals module
  azure/modules/cloud_fundamentals/README.md
  stage1/README.md
Labels: stage#1

#1417 feat: make task requirements and crosscheck criteria names consistent
  tasks/coffee-house/coffee-house-week3.md
Labels: stage#1

#1444 feat: [Week-2.2] Translation and Update of "TypeScript Advanced" Module
  stage2/modules/typescript-advanced/README.md
Labels: stage#2

#1445 feat: [Week-2.4] Update and Translate "Web Storage" Module
  stage2/modules/web-storage/README.md
Labels: stage#2

#1449 feat: update technical screening
  stage1/README.md
  stage2/modules/technical-screening/README.md
  tasks/interview-basic-coreJS.md
Labels: stage#1, stage#2

#1469 feat: update links
  node/modules/crud-api/README.md
  node/modules/nodejs-application/README.md
  node/modules/nodejs-basics/README.md
Labels: node

#1478 feat: update schedule week 1 stage#2
  stage2/README.md
  stage2/tasks/TypeScriptEssentials/README.md
Labels: stage#2

#1479 feat: update schedule week 2 stage#2
  stage2/README.md
Labels: stage#2

#1480 feat: create task typescript essentials
  stage2/tasks/TypeScriptEssentials/CrossCheckCriteria.md
  stage2/tasks/TypeScriptEssentials/README.md
  stage2/tasks/TypeScriptEssentials/image.png
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-01.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-02.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-03.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-04.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-05.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-06.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-07.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-08.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-09.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-10.md
  stage2/tasks/TypeScriptEssentials/stories/RSS-TSE-PENALTY-01.md
Labels: stage#2

#1477 feat: [Week-2.5] Update, Translate, and Structure Align "Functional Programming" Module
  stage2/modules/fp-basics/README.md
Labels: stage#2

#1476 feat: [Week-2.2] Translation and Potential Update of "Migration: News API to TS" Task
  tasks/migration-newip-to-ts.md
Labels: stage#2
