Repository rolling-scopes-school/tasks, pull requests merged in 2024-07, with the labels that each got.

#1650 fix: added tests in the course program and fixed name of the form task
  react/README.md
  react/modules/tasks/forms.md
Labels: react

#1655 Fixed husky link
  react/modules/react-setup-env/README.md
Labels: react

#1656 React: remove duplicated link
  react/modules/error-boundary/README.md
Labels: react

#1662 Angular - Add info about creating private school repo (intro task)
  tasks/angular/intro.md
Labels: angular

#1659 Angular - Update standalone requirements task 2 youtube-app
  tasks/angular/components-directives-pipes.md
Labels: angular

#1663 fix: remove duplicated link
  react/modules/class-component/README.md
Labels: react

#1661 fix: Fix some mistakes in the README
  react/README.md
Labels: react

#1652 docs(angular): change month name to correct
  angular/README.md
Labels: angular

#1654 docs: Update async race rules to make ponts more fair
  epam/async-race.md
Labels: stage#2

#1667 React - update react routing task
  epam/async-race.md
  react/modules/tasks/routing.md
Labels: react

#1674 Updated the task for the Redux to avoid confusion
  react/modules/tasks/redux.md
Labels: react

#1669 Stage 0 - fix: typo in the schedule
  stage0/README.md
Labels: stage#0

#1676 Stage#0: returned notes of algorithms
  stage0/modules/data-structures-part-1/README.md
  stage0/modules/data-structures-part-1/algorithms.md
Labels: stage#0
