Repository rolling-scopes-school/tasks, pull requests merged in 2025-02, with the labels that each got.

#1754 feat: Attention
  react/modules/tasks/project-setup.md
Labels: react

#1752 [Stage 1] Update OOP Module
  stage1/modules/oop-basics/README.md
Labels: stage#1

#1714 [2024Q4] Decision Making Tool
  stage2/tasks/decision-making-tool/README.md
Labels: stage#2

#1757 [Stage#2] Update README.md
  stage2/README.md
Labels: stage#2

#1756 docs: update package and form links
  stage2/tasks/decision-making-tool/README.md
Labels: stage#2

#1758 Updated schedule
  react/README.md
  react/modules/tasks/nextjs-ssr-ssg.md
Labels: react
