Repository rolling-scopes-school/tasks, pull requests merged in 2025-06, with the labels that each got.

#1737 DevOps course refactor
  devops/README.md
  devops/flask_app/README.md
  devops/flask_app/main.py
  devops/flask_app/requirements.txt
  devops/modules/1_basic-configuration/task_1.md
  devops/modules/1_basic-configuration/task_2.md
  devops/modules/2_cluster-configuration/README.md
  devops/modules/2_cluster-configuration/task_3.md
  devops/modules/3_ci-configuration/README.md
  devops/modules/3_ci-configuration/task_4.md
  devops/modules/3_ci-configuration/task_5.md
  devops/modules/3_ci-configuration/task_6.md
  devops/modules/4_monitoring-configuration/README.md
  devops/modules/4_monitoring-configuration/task_7.md
  devops/modules/4_monitoring-configuration/task_8.md
  devops/modules/4_monitoring-configuration/task_9.md
  devops/visual_assets/task_1.png
  devops/visual_assets/task_2.png
  devops/visual_assets/task_3.png
  devops/visual_assets/task_4-6.png
  devops/visual_assets/task_7.png
Labels: devops

#1776 Created a step-by-step overview of all the major React topics, added …
  react/nextJsQuestions.md
  react/questions.md
Labels: react

#1777 Next.js app router focused task
  react/modules/tasks/nextjs-ssr-ssg.md
Labels: react

#1778 React Unit Testing
  react/modules/tasks/functional-routing.md
  react/modules/tasks/routing.md
  react/modules/tasks/tests.md
Labels: react

#1784 Added Zustand and Tanstack Query as options
  react/README.md
  react/modules/react-redux/README.md
  react/modules/state-management/README.md
  react/modules/state-management/queries.md
  react/modules/tasks/queries.md
  react/modules/tasks/state-management.md
Labels: react

#1785 feat: Remove any button or functionality which throws exceptions unne…
  react/modules/tasks/functional-routing.md
Labels: react

#1787 Update museum-stage1.md - fix the broken link
  tasks/museum/museum-stage1.md
Labels: stage#1

#1786 Updated the schedule. Added portals theory
  react/README.md
  react/modules/portals/README.md
  react/modules/tasks/final.md
Labels: react

#1792 Next.js: add next intl
  react/modules/tasks/nextjs-ssr-ssg.md
Labels: react
