Repository rolling-scopes-school/tasks, pull requests merged in 2025-07, with the labels that each got.

#1793 [Stage 0] Update Museum task
  stage0/README.md
  tasks/museum/museum-adaptive.md
  tasks/museum/museum-dom.md
  tasks/museum/museum-stage1.md
  tasks/museum/museum.md
Labels: type: task, stage#0

#1797 standardize penalties structure with subheadings
  react/modules/tasks/README.md
  react/modules/tasks/class-components.md
  react/modules/tasks/final.md
  react/modules/tasks/forms.md
  react/modules/tasks/functional-routing.md
  react/modules/tasks/nextjs-ssr-ssg.md
  react/modules/tasks/performance.md
  react/modules/tasks/queries.md
  react/modules/tasks/redux.md
  react/modules/tasks/state-management.md
  react/modules/tasks/tests.md
Labels: react

#1794 docs: update cv.md
  tasks/cv/cv.md
  tasks/cv/html-css-git.md
Labels: stage#0

#1795 Update/museum
  stage0/README.md
  tasks/museum/museum-adaptive.md
  tasks/museum/museum-dom.md
  tasks/museum/museum-fixed.md
  tasks/museum/museum-hints-advanced.md
  tasks/museum/museum.md
Labels: stage#0

#1801 Angular Smart Home UI. Part 1
  tasks/angular-smart-home-ui/dashboard-lights.png
  tasks/angular-smart-home-ui/dashboard-overview.png
  tasks/angular-smart-home-ui/mock-data.json
  tasks/angular-smart-home-ui/smart-home-part-1.md
Labels: angular

#1804 [React] fix: unit testing description
  react/modules/tasks/tests.md
Labels: react

#1805 [Stage 0] Update museum-adaptive task
  tasks/museum/museum-adaptive.md
Labels: stage#0

#1806 Feat/react2025q3 perfromance updates
  react/modules/tasks/performance.md
Labels: react

#1808 [Stage 0] fix typo in museum requirements
  tasks/museum/museum-adaptive.md
Labels: stage#0

#1807 Angular Smart Home UI. Part 2
  tasks/angular-smart-home-ui/login.png
  tasks/angular-smart-home-ui/smart-home-part-2.md
Labels: angular
