Repository rolling-scopes-school/tasks, pull requests merged in 2025-08, with the labels that each got.

#1816 feat: add new react interview questions
  react/questions.md
Labels: react

#1819 [STAGE-0]: update links to 'reverse-int' and 'human-readable-number' tasks repositories
  stage0/modules/js-functions/README.md
Labels: stage#0

#1823 [Stage 0] clarify requirements of the museum-dom task
  tasks/museum/museum-dom.md
Labels: stage#0

#1824 Updated the final task with 2 more options
  react/modules/tasks/final.md
Labels: react

#1826 [Stage 0]: fix typos in notFightClub task
  tasks/notFightClub/README.md
Labels: stage#0

#1829 feat: ## FAQ (Frequently Asked Questions)
  react/modules/tasks/nextjs-ssr-ssg.md
Labels: react

#1814 [React]: wrap <Outlet> in backticks
  react/modules/tasks/functional-routing.md
Labels: react

#1834 Updated points
  react/modules/tasks/performance.md
Labels: react

#1838 Added penalties for the missing report, ran the format command
  angular/modules/rsclone/README.md
  react/modules/tasks/performance.md
Labels: angular, react
